**/.DS_Store
.vscode
save/
visualization/videos/
visualization/blend*/
visualization/visualize_self.sh
**/__pycache__
datasets/Planet_Zoo_FBX-smal2
datasets/Planet_Zoo_FBX-cleaned
datasets/source_motion
datasets/mixamo/train_q
datasets/*.json
datasets/shepherd/smal@shepherd_dog/train_q
datasets/shepherd/smal@shepherd_dog/train_shape
datasets/shepherd/smal@shepherd_cat/train_q
datasets/shepherd/smal@shepherd_cat/train_shape
temp/
try.sh
.cursorignore
*.log
*.bvh