**/.DS_Store
.vscode
save/
visualization/videos/
visualization/blend*/
visualization/visualize_self.sh
**/__pycache__
datasets/Planet_Zoo_FBX-smal2
datasets/Planet_Zoo_FBX-cleaned
datasets/source_motion
datasets/mixamo/train_q
datasets/shepherd
datasets/*.json
work_dir/
temp/
.cursorignore
*.log
*.bvh
*.npz
*.npy